.red{
    color: red;
}
.bold{
    font-weight: bold;
}
button{
    padding: 8px;
     border: 1px solid blue;
    color: white;
    background-color: green;
    font: inherit;
    cursor: pointer;
    border-radius: 8px;
}